body {
    background-image: url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
font-family:'Roboto', sans-serif;
}

h1 , main{
    text-align: center;
}

#demo {
    border: 5px solid green !important;
}

#instructions{
    width: 40%;
   margin: 0 auto;
   margin-bottom: 15px;

}
.option:hover{
    background-color: tan ;
    box-shadow:0 0 10px black;
}
  